<div class="profile-container">
  <%= attachment_image_tag @user_image, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
  <h3 class="profile-name"> name   <%= @user.name %></h3>
  <h3 class="profile-int"> introduction  <%= @user.introduction %></h3>
  <% if @user.id == current_user.id %>
    <p><i class="fas fa-user-cog"></i><%= link_to "Edit", edit_user_path(@user) %></p>
  <% end %>
</div>

<%= render 'books/list', books: @books %>