<div class="sidebar">
    <div class="container px-5 px-sm-0">
        <div class="row">
            <div class="col-md-3">
                <%= render 'users/sidebar', user: @book.user %>

                <%= render 'books/sidebar', book: @new_book %>
            </div>
            <div class="col-md-8 offset-md-1">
                <h2>Book detail</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Opinion</th>
                            <% if @book.user == current_user %>
                            <th></th>
                            <% else %>
                            <% end %>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <%= attachment_image_tag @user, :profile_image, size:'60x60', format: 'jpg', fallback: "no_image.jpg" %><br>
                                <%= link_to user_path(@user.id) do %>
                                  <%= @book.user.name %>
                                <% end %>
                            </td>
                            <td>
                                <%= @book.title %>
                            </td>
                            <td>
                                <%= @book.body %>
                            </td>
                            <td>
                                <% if @book.favorited_by?(current_user) %>
                                    <p>
                                        <%= link_to book_favorites_path(@book), method: :delete do %>
                                            ♥<%= @book.favorites.count %>
                                        <% end %>
                                    </p>
                                <% else %>
                                    <p>
                                        <%= link_to book_favorites_path(@book), method: :post do %>
                                            ♡<%= @book.favorites.count %>
                                      　<% end %>
                                    </p>
                                <% end %>
                            </td>
                            <td>
                                <p>コメント数 : <%= @book.book_comments.count %></p>
                            </td>
                            <% if @book.user == current_user %>
                            <td class="link1">
                                <%= link_to "Edit", edit_book_path(@book) %>
                            </td>
                            <td class="link2">
                                <%= link_to "Destroy", book_path(@book), method: :delete  %>
                            </td>
                            <% else %>
                            <% end %>
                        </tr>
                    </tbody>
                </table>
                <div>
                    <div class="comments">
                        <% @book.book_comments.each do |book_comment| %>
                            <p><%= attachment_image_tag @user, :profile_image, size:'30x30', format: 'jpg', fallback: "no_image.jpg" %></p>
                            <%= book_comment.user.name %>
                            <%= book_comment.created_at.strftime('%Y/%m/%d') %>
                            <%= book_comment.comment %>
                            <% if book_comment.user == current_user %>
                            <div class="comment-delete">
                                <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
                            </div>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="new-comment">
                        <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
                            <%= f.text_area :comment, size:'50x5' %>
                            <%= f.submit "送信" %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container ">-->



</div>